.alice-carousel__dots {
    margin: 0;
}
.alice-carousel__dots-item:not(.__custom) {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgba(239, 66, 88, 0.51);
    border-radius: 20px;
    transition: .2s;
}
.alice-carousel__dots-item:not(.__custom):not(:last-child){
    margin-right: 6px;
}

.alice-carousel__dots-item:not(.__custom):hover{
    background-color: #ef4258;
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color: #ef4258;
    width: 30px;
    height: 8px;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: none;
}